.grid-container {
  width: 600px;
  /* height: 400px; */
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 3px;
  background-color: #025955;
  border-radius: 5px;
}

.grid-item{
  width: 80px;
  padding: 5px;
  background-color: #FDE8CD;
  font-weight: bolder;
  /* margin: 5px; */
  border-radius: 5px;
}

.box{
  height: 700px;
  background-color: tomato;
}